# Data Analysis with Python Course Project
***

In this project, you'll be analysing listings data from an e-commerce Platform. 

The dataset is stored in the `data/project_data.xlsx` file. It contains listing information posted on the platform.

One single listing corresponds to one row in the dataset.

The dataset has 12 columns, and 464433 rows. 

Here are the brief descriptions of each column:
- `itemid`: a unique ID of the product
- `shopid`: a unique ID of the shop
- `item_name`: product title  
- `item_description`: detailed  product description
- `item_variation`: stores variations of a product (e.g. different colours or sizes, in the format like {variation 1 name: variation 1 price, variation 2 name: variation 2 price})
- `price`: how much does the item sold
- `stock`: how many stocks left 
- `category`: which category does the product belongs to 
- `cb_option`: 1 indicates the product is sold by a cross border shop
- `is_preferred`: 1 indicates the product is sold by a preferred shop
- `sold_count`: how many products have been sold 
- `item_creation_date`: when are the product uploaded by the seller

### Questions

First step is uploading the necessary file to conduct analysis on.

In [77]:
import pandas as pd
import numpy as np

df = pd.read_excel('C:/Users/Uesr/Downloads/project_data.xlsx',
                   sheet_name= 'listing_data',
                   dtype= {'itemid': str, 'shopid': str,
                           'cb_option': str, 'is_preferred': str})

In [78]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 464433 entries, 0 to 464432
Data columns (total 12 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   itemid              464433 non-null  object
 1   shopid              464433 non-null  object
 2   item_name           464409 non-null  object
 3   item_description    463336 non-null  object
 4   item_variation      464433 non-null  object
 5   price               464433 non-null  float64
 6   stock               464433 non-null  int64
 7   category            464422 non-null  object
 8   cb_option           464433 non-null  object
 9   is_preferred        464433 non-null  object
 10  sold_count          464433 non-null  int64
 11  item_creation_date  464433 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(2), object(8)
memory usage: 42.5+ MB

In [7]:
df.head()

,itemid,shopid,item_name,item_description,item_variation,price,stock,category,cb_option,is_preferred,sold_count,item_creation_date
0,1925574,210000,Golden mobile numbers,Unregistered prepaid cards1) 93355333 selling...,{},400.0,1,Mobile & Gadgets,0,0,0,2015-10-01 00:24:42
1,1925617,210000,Golden mobile numbers,Unregistered prepaid cards1) 93355888 selling...,{},400.0,1,Mobile & Gadgets,0,0,0,2015-10-01 00:26:37
2,943600,210000,Golden Mobile Numbers,Unregistered prepaid cards. Can port to post p...,{},8.0,1,Mobile & Gadgets,0,0,0,2015-08-25 21:02:13
3,1064405,210000,Golden Mobile Numbers,Unregistered prepaid cards. Can port to post p...,{},8.0,1,Mobile & Gadgets,0,0,0,2015-08-30 20:16:07
4,20046620,760000,101% AUTHENTIC BASEBALL CAPS,"PREORDER Takes about 23 weeks to arrive, will ...","{NEWERA BLACK: 35.0, NIKE SWOOSH DENIM: 35.0, ...",35.0,300,Women's Apparel,0,0,0,2016-05-09 01:14:34

## 1. How many unique shops are in the dataset?

We use `set()` function to count unique shopids

In [79]:
len(set(df['shopid']))

7856

OR we can use `unique()` function

In [80]:
len(df['shopid'].unique())

7856

## 2. How many unique preferred and cross border shops are in the dataset?

Boolean indexing

In [81]:
len(df[(df.cb_option=='1') & (df.is_preferred=='1')]['shopid'].unique())

158

.loc + np.where

In [82]:
print(np.where((df.cb_option=='1') & (df.is_preferred=='1')))

len(df.loc[np.where((df.cb_option=='1') & (df.is_preferred=='1'))]['shopid'].unique())

(array([   947,    948,    949, ..., 463426, 463427, 463428], dtype=int64),)

158

## 3. How many products have zero sold count?

`unique()` function

In [83]:
len(df[(df.sold_count==0)]['itemid'].unique())

438092

`np.where()` + `unique()` function

In [84]:
len(df.loc[np.where(df.sold_count==0)]['itemid'].unique())

438092

## 4. How many products were created in the year 2018?

In [85]:
from datetime import datetime

Using `strftime` we can extract year or date from datetime format data

In [86]:
df['year'] = [i.strftime("%Y") for i in df['item_creation_date']]

df.head(5)

,itemid,shopid,item_name,item_description,item_variation,price,stock,category,cb_option,is_preferred,sold_count,item_creation_date,year
0,1925574,210000,Golden mobile numbers,Unregistered prepaid cards1) 93355333 selling...,{},400.0,1,Mobile & Gadgets,0,0,0,2015-10-01 00:24:42,2015
1,1925617,210000,Golden mobile numbers,Unregistered prepaid cards1) 93355888 selling...,{},400.0,1,Mobile & Gadgets,0,0,0,2015-10-01 00:26:37,2015
2,943600,210000,Golden Mobile Numbers,Unregistered prepaid cards. Can port to post p...,{},8.0,1,Mobile & Gadgets,0,0,0,2015-08-25 21:02:13,2015
3,1064405,210000,Golden Mobile Numbers,Unregistered prepaid cards. Can port to post p...,{},8.0,1,Mobile & Gadgets,0,0,0,2015-08-30 20:16:07,2015
4,20046620,760000,101% AUTHENTIC BASEBALL CAPS,"PREORDER Takes about 23 weeks to arrive, will ...","{NEWERA BLACK: 35.0, NIKE SWOOSH DENIM: 35.0, ...",35.0,300,Women's Apparel,0,0,0,2016-05-09 01:14:34,2016

Now we can filter the items created in 2018

In [87]:
len(df[df.year=='2018']['itemid'].unique())

177407

## 5. Show Top 3 Preferred shopsâ€™ shopid that have the largest number of unique products

- First > filter out preferred shops
- Second > group them into shopid category
- Third > sort value in descending order
- Lastly > pull out TOP 3 results using index

In [88]:
df[df['is_preferred']=='1'].groupby(['shopid'])['itemid'].count().sort_values(ascending=False)[0:3]

shopid
43384791    2034
6072241     1998
26974701    1037
Name: itemid, dtype: int64

## 6. Show Top 3 Categories that have the largest number of unique cross-border products

- Filter to cross-border products, 'cb_option'== 1
- Groupby them by 'itemid' and count
- Sort value and pull out TOP 3

In [90]:
df[df['cb_option']=='1'].groupby(['category'])['shopid'].count().sort_values(ascending=False)[0:3]

category
Women's Apparel     80494
Mobile & Gadgets    58760
Men's Wear          51795
Name: shopid, dtype: int64

## 7. Find Top 3 shopid with the highest revenue (Assumption: the product price has not been changed.)

- We can add another column named 'revenue' that represents the revenue of each item 
- Sort it in descending order

In [91]:
df['revenue'] = df['sold_count']*df['price']
df.head()

,itemid,shopid,item_name,item_description,item_variation,price,stock,category,cb_option,is_preferred,sold_count,item_creation_date,year,revenue
0,1925574,210000,Golden mobile numbers,Unregistered prepaid cards1) 93355333 selling...,{},400.0,1,Mobile & Gadgets,0,0,0,2015-10-01 00:24:42,2015,0.0
1,1925617,210000,Golden mobile numbers,Unregistered prepaid cards1) 93355888 selling...,{},400.0,1,Mobile & Gadgets,0,0,0,2015-10-01 00:26:37,2015,0.0
2,943600,210000,Golden Mobile Numbers,Unregistered prepaid cards. Can port to post p...,{},8.0,1,Mobile & Gadgets,0,0,0,2015-08-25 21:02:13,2015,0.0
3,1064405,210000,Golden Mobile Numbers,Unregistered prepaid cards. Can port to post p...,{},8.0,1,Mobile & Gadgets,0,0,0,2015-08-30 20:16:07,2015,0.0
4,20046620,760000,101% AUTHENTIC BASEBALL CAPS,"PREORDER Takes about 23 weeks to arrive, will ...","{NEWERA BLACK: 35.0, NIKE SWOOSH DENIM: 35.0, ...",35.0,300,Women's Apparel,0,0,0,2016-05-09 01:14:34,2016,0.0

In [92]:
df.groupby(['shopid'])['revenue'].sum().sort_values(ascending=False)[0:3]

shopid
18796234    177897.79
30769353     63491.39
30628794     39852.00
Name: revenue, dtype: float64

## 8. Find number of products that have more than 3 variations (do not include products with 3 or fewer variations)

- First we create 'variation_count' column to determine how many variation each item has
- Then we filter out the products that have more than 3 variations
- Finally we count the filtered products

In [93]:
df['variation_count'] = [i.count(':') for i in df['item_variation']]
df[['item_variation', 'variation_count']].head(10)

                                      item_variation  variation_count
0                                                 {}                0
1                                                 {}                0
2                                                 {}                0
3                                                 {}                0
4  {NEWERA BLACK: 35.0, NIKE SWOOSH DENIM: 35.0, ...                6
5  {NIKE SWOOSH DENIM: 35.0, NIKE SWOOSH BLACK: 3...                6
6  {Hydratg UV: 28.72, Super Hydg: 28.72, Whiteni...                3
7                                                 {}                0
8              {S: 9.98, M: 9.98, L: 9.98, XL: 9.98}                4
9                        {S: 9.98, M: 9.98, L: 9.98}                3

In [94]:
df[df['variation_count']>3]['itemid'].count()

242150

## 9. Identify duplicated listings within each shop (If listing A and B in shops have the exactly same product title, product detailed description, and price, both listing A and B are considered as duplicated listings)

To do so we need to concatenate product title, description and price into one new column. If the new column items have the same value, then the they are the duplicated listings

In [95]:
df['listing_details'] = df['item_name'].astype(str) + df['item_description'].astype(str) + df['price'].astype(str)

df.head(7)

,itemid,shopid,item_name,item_description,item_variation,price,stock,category,cb_option,is_preferred,sold_count,item_creation_date,year,revenue,variation_count,listing_details
0,1925574,210000,Golden mobile numbers,Unregistered prepaid cards1) 93355333 selling...,{},400.00,1,Mobile & Gadgets,0,0,0,2015-10-01 00:24:42,2015,0.0,0,Golden mobile numbersUnregistered prepaid card...
1,1925617,210000,Golden mobile numbers,Unregistered prepaid cards1) 93355888 selling...,{},400.00,1,Mobile & Gadgets,0,0,0,2015-10-01 00:26:37,2015,0.0,0,Golden mobile numbersUnregistered prepaid card...
2,943600,210000,Golden Mobile Numbers,Unregistered prepaid cards. Can port to post p...,{},8.00,1,Mobile & Gadgets,0,0,0,2015-08-25 21:02:13,2015,0.0,0,Golden Mobile NumbersUnregistered prepaid card...
3,1064405,210000,Golden Mobile Numbers,Unregistered prepaid cards. Can port to post p...,{},8.00,1,Mobile & Gadgets,0,0,0,2015-08-30 20:16:07,2015,0.0,0,Golden Mobile NumbersUnregistered prepaid card...
4,20046620,760000,101% AUTHENTIC BASEBALL CAPS,"PREORDER Takes about 23 weeks to arrive, will ...","{NEWERA BLACK: 35.0, NIKE SWOOSH DENIM: 35.0, ...",35.00,300,Women's Apparel,0,0,0,2016-05-09 01:14:34,2016,0.0,6,101% AUTHENTIC BASEBALL CAPSPREORDER Takes abo...
5,20047128,760000,101% AUTHENTIC BASEBALL CAPS,"PREORDER Takes about 23 weeks to arrive, will ...","{NIKE SWOOSH DENIM: 35.0, NIKE SWOOSH BLACK: 3...",35.00,299,Men's Wear,0,0,1,2016-05-09 01:18:21,2016,35.0,6,101% AUTHENTIC BASEBALL CAPSPREORDER Takes abo...
6,78419076,11272000,Hada Labo Super Hydrating Perfect Gel Moisturi...,Hada Labo Super Hydrating Perfect Gel Moisturi...,"{Hydratg UV: 28.72, Super Hydg: 28.72, Whiteni...",28.72,8,Health & Beauty,0,1,5,2016-10-20 11:17:41,2016,143.6,3,Hada Labo Super Hydrating Perfect Gel Moisturi...

In [96]:
shopid_listing_count = df.groupby(['listing_details'])['shopid'].count().reset_index()
shopid_listing_count.head()

                                     listing_details  shopid
0    \t Bandage Bodycon Skirt No meet up Size XS25.0       2
1               Fashion Women Shoulder Bag Satche...       1
2               Fashion Women Shoulder Bag Satche...       1
3               Fashion Women Shoulder Bag Satche...       1
4          BOTTOM HIGH WAIST CLASSICColor: BLACK ...       1

In [97]:
shopid_duplicates = shopid_listing_count[shopid_listing_count.shopid>1]

shopid_duplicates.head(9)

                                      listing_details  shopid
0     \t Bandage Bodycon Skirt No meet up Size XS25.0       2
12       New Women Handbag ShoulderFeature:    100...       2
13     Fashion Handbag Lady Shoulder Bag Tote Purs...       2
14     LVPAI  Vente chaude De Mode De Luxe  Femmes...       2
16     Mens canvas Sport  Sneakers Recreational Ca...       3
19     Women Leather Tassel Messenger Bag Cross Bo...       2
20     Womens Wallet Card Holder Coin Purse Clutch...       3
21     casual outdoor men shoes breathable sneaker...       3
23    15 10pcs Grizzly Solid Fiber Feather Hair Ex...       3

In [98]:
shopid_duplicates.columns = ['listing_details', 'shopid_count']
shopid_duplicates.head(9)

                                      listing_details  shopid_count
0     \t Bandage Bodycon Skirt No meet up Size XS25.0             2
12       New Women Handbag ShoulderFeature:    100...             2
13     Fashion Handbag Lady Shoulder Bag Tote Purs...             2
14     LVPAI  Vente chaude De Mode De Luxe  Femmes...             2
16     Mens canvas Sport  Sneakers Recreational Ca...             3
19     Women Leather Tassel Messenger Bag Cross Bo...             2
20     Womens Wallet Card Holder Coin Purse Clutch...             3
21     casual outdoor men shoes breathable sneaker...             3
23    15 10pcs Grizzly Solid Fiber Feather Hair Ex...             3

## 10. Mark those duplicated listings with True otherwise False and store the marking result in a new column named â€œis_duplicatedâ€

- We have to merge the original dataframe with the new dataframe 'shopid_duplicates'
- Then we can mark the listing that have value >=2 `True`, and `False` others

In [99]:
df_new = pd.merge(df, shopid_duplicates, on = 'listing_details', how='left')
df_new.head(9)

,itemid,shopid,item_name,item_description,item_variation,price,stock,category,cb_option,is_preferred,sold_count,item_creation_date,year,revenue,variation_count,listing_details,shopid_count
0,1925574,210000,Golden mobile numbers,Unregistered prepaid cards1) 93355333 selling...,{},400.00,1,Mobile & Gadgets,0,0,0,2015-10-01 00:24:42,2015,0.00,0,Golden mobile numbersUnregistered prepaid card...,NaN
1,1925617,210000,Golden mobile numbers,Unregistered prepaid cards1) 93355888 selling...,{},400.00,1,Mobile & Gadgets,0,0,0,2015-10-01 00:26:37,2015,0.00,0,Golden mobile numbersUnregistered prepaid card...,NaN
2,943600,210000,Golden Mobile Numbers,Unregistered prepaid cards. Can port to post p...,{},8.00,1,Mobile & Gadgets,0,0,0,2015-08-25 21:02:13,2015,0.00,0,Golden Mobile NumbersUnregistered prepaid card...,NaN
3,1064405,210000,Golden Mobile Numbers,Unregistered prepaid cards. Can port to post p...,{},8.00,1,Mobile & Gadgets,0,0,0,2015-08-30 20:16:07,2015,0.00,0,Golden Mobile NumbersUnregistered prepaid card...,NaN
4,20046620,760000,101% AUTHENTIC BASEBALL CAPS,"PREORDER Takes about 23 weeks to arrive, will ...","{NEWERA BLACK: 35.0, NIKE SWOOSH DENIM: 35.0, ...",35.00,300,Women's Apparel,0,0,0,2016-05-09 01:14:34,2016,0.00,6,101% AUTHENTIC BASEBALL CAPSPREORDER Takes abo...,NaN
5,20047128,760000,101% AUTHENTIC BASEBALL CAPS,"PREORDER Takes about 23 weeks to arrive, will ...","{NIKE SWOOSH DENIM: 35.0, NIKE SWOOSH BLACK: 3...",35.00,299,Men's Wear,0,0,1,2016-05-09 01:18:21,2016,35.00,6,101% AUTHENTIC BASEBALL CAPSPREORDER Takes abo...,NaN
6,78419076,11272000,Hada Labo Super Hydrating Perfect Gel Moisturi...,Hada Labo Super Hydrating Perfect Gel Moisturi...,"{Hydratg UV: 28.72, Super Hydg: 28.72, Whiteni...",28.72,8,Health & Beauty,0,1,5,2016-10-20 11:17:41,2016,143.60,3,Hada Labo Super Hydrating Perfect Gel Moisturi...,NaN
7,252736983,11272000,Hada Labo Super Hydrating Perfect Gel Moisturi...,Hada Labo is a skin care line researched & dev...,{},28.72,8,Health & Beauty,0,1,1,2017-05-09 18:33:30,2017,28.72,0,Hada Labo Super Hydrating Perfect Gel Moisturi...,NaN
8,793229430,49082000,Women Lace Bra Bustier Crop Tops Soft Mesh Tri...,Material: Terylene Colors: BalckStyle: Sexy Br...,"{S: 9.98, M: 9.98, L: 9.98, XL: 9.98}",9.98,400,Women's Apparel,1,0,0,2017-12-28 19:55:45,2017,0.00,4,Women Lace Bra Bustier Crop Tops Soft Mesh Tri...,2.0

In [105]:
df_new['is_duplicated'] = [True if not pd.isnull(i) else False for i in df_new['shopid_count']]

df_new.head(9)
df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 464433 entries, 0 to 464432
Data columns (total 18 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   itemid              464433 non-null  object
 1   shopid              464433 non-null  object
 2   item_name           464409 non-null  object
 3   item_description    463336 non-null  object
 4   item_variation      464433 non-null  object
 5   price               464433 non-null  float64
 6   stock               464433 non-null  int64
 7   category            464422 non-null  object
 8   cb_option           464433 non-null  object
 9   is_preferred        464433 non-null  object
 10  sold_count          464433 non-null  int64
 11  item_creation_date  464433 non-null  datetime64[ns]
 12  year                464433 non-null  object
 13  revenue             464433 non-null  float64
 14  variation_count     464433 non-null  int64
 15  listing_details     464433 non-null  object
 16  shopid_count        266268 non-null  float64
 17  is_duplicated       464433 non-null  bool
dtypes: bool(1), datetime64[ns](1), float64(3), int64(3), object(10)
memory usage: 60.7+ MB

## 11. Find duplicate listings that has less than 2 sold count and store the result in a new excel file named â€œduplicated_listings.xlsxâ€

In [106]:
duplicated_listing = df_new[(df_new['is_duplicated']==True) & (df_new['sold_count']<2)]
duplicated_listing.head()
duplicated_listing.info()

<class 'pandas.core.frame.DataFrame'>
Index: 261786 entries, 8 to 464424
Data columns (total 18 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   itemid              261786 non-null  object
 1   shopid              261786 non-null  object
 2   item_name           261786 non-null  object
 3   item_description    261086 non-null  object
 4   item_variation      261786 non-null  object
 5   price               261786 non-null  float64
 6   stock               261786 non-null  int64
 7   category            261781 non-null  object
 8   cb_option           261786 non-null  object
 9   is_preferred        261786 non-null  object
 10  sold_count          261786 non-null  int64
 11  item_creation_date  261786 non-null  datetime64[ns]
 12  year                261786 non-null  object
 13  revenue             261786 non-null  float64
 14  variation_count     261786 non-null  int64
 15  listing_details     261786 non-null  object
 16  shopid_count        261786 non-null  float64
 17  is_duplicated       261786 non-null  bool
dtypes: bool(1), datetime64[ns](1), float64(3), int64(3), object(10)
memory usage: 36.2+ MB

In [75]:
duplicated_listing.to_excel('../Python/duplicated_listing.xlsx', index=False)

## 12. Find the preferred shop shopid that have the most number of duplicated listings

In [110]:
df_new[df_new['is_preferred']=='1'].groupby(['shopid'])['is_duplicated'].count().sort_values(ascending=False)[0:10]

shopid
43384791    2034
6072241     1998
26974701    1037
4498082      887
37983742     677
8090602      658
18173522     633
28812867     559
12695177     488
8715449      463
Name: is_duplicated, dtype: int64