## Data Analysis with Python Course Project
***

In this project, you'll be analysing listings data from an e-commerce Platform. 

The dataset is stored in the `data/project_data.xlsx` file. It contains listing information posted on the platform.

One single listing corresponds to one row in the dataset.

The dataset has 12 columns, and 464433 rows. 

Here are the brief descriptions of each column:
- `itemid`: a unique ID of the product
- `shopid`: a unique ID of the shop
- `item_name`: product title  
- `item_description`: detailed  product description
- `item_variation`: stores variations of a product (e.g. different colours or sizes, in the format like {variation 1 name: variation 1 price, variation 2 name: variation 2 price})
- `price`: how much does the item sold
- `stock`: how many stocks left 
- `category`: which category does the product belongs to 
- `cb_option`: 1 indicates the product is sold by a cross border shop
- `is_preferred`: 1 indicates the product is sold by a preferred shop
- `sold_count`: how many products have been sold 
- `item_creation_date`: when are the product uploaded by the seller

In [1]:
import pandas as pd
import numpy as np

df = pd.read_excel('/kaggle/input/project-data-e-commerce/project_data.xlsx', 
                   sheet_name = 'listing_data', 
                   dtype = {'itemid': str, 'shopid':str,
                            'cb_option':str, 'is_preferred':str})

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 464433 entries, 0 to 464432
Data columns (total 12 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   itemid              464433 non-null  object
 1   shopid              464433 non-null  object
 2   item_name           464409 non-null  object
 3   item_description    463336 non-null  object
 4   item_variation      464433 non-null  object
 5   price               464433 non-null  float64
 6   stock               464433 non-null  int64
 7   category            464422 non-null  object
 8   cb_option           464433 non-null  object
 9   is_preferred        464433 non-null  object
 10  sold_count          464433 non-null  int64
 11  item_creation_date  464433 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(2), object(8)
memory usage: 42.5+ MB

In [3]:
df.head(5)

,itemid,shopid,item_name,item_description,item_variation,price,stock,category,cb_option,is_preferred,sold_count,item_creation_date
0,1925574,210000,Golden mobile numbers,Unregistered prepaid cards1) 93355333 selling...,{},400.0,1,Mobile & Gadgets,0,0,0,2015-10-01 00:24:42
1,1925617,210000,Golden mobile numbers,Unregistered prepaid cards1) 93355888 selling...,{},400.0,1,Mobile & Gadgets,0,0,0,2015-10-01 00:26:37
2,943600,210000,Golden Mobile Numbers,Unregistered prepaid cards. Can port to post p...,{},8.0,1,Mobile & Gadgets,0,0,0,2015-08-25 21:02:13
3,1064405,210000,Golden Mobile Numbers,Unregistered prepaid cards. Can port to post p...,{},8.0,1,Mobile & Gadgets,0,0,0,2015-08-30 20:16:07
4,20046620,760000,101% AUTHENTIC BASEBALL CAPS,"PREORDER Takes about 23 weeks to arrive, will ...","{NEWERA BLACK: 35.0, NIKE SWOOSH DENIM: 35.0, ...",35.0,300,Women's Apparel,0,0,0,2016-05-09 01:14:34

### Questions

1. How many unique shops are in the dataset?

In [4]:
len(set(df['shopid']))

7856

In [5]:
len(df['shopid'].unique())

7856

2. How many unique preferred and cross border shops are in the dataset?

In [6]:
# boolean indexing
len(df[(df.cb_option=='1') & (df.is_preferred=='1')]['shopid'].unique())

158

In [7]:
# loc + np.where 
print(np.where((df['cb_option']=='1') & (df['is_preferred']=='1')))

len(df.loc[np.where((df['cb_option']=='1') & (df['is_preferred']=='1'))]['shopid'].unique())

(array([   947,    948,    949, ..., 463426, 463427, 463428]),)

158

3. How many products have zero sold count?

In [8]:
len(df[(df.sold_count==0)]['itemid'].unique())

438092

In [9]:
len(df.loc[np.where(df['sold_count']==0)]['itemid'].unique())

438092

4. How many products were created in the year 2018?

we can use `strftime()` method to create a string representing the time under the control of an explicit format string.

You can refer to the format reference via link: https://strftime.org/

In [10]:
from datetime import datetime

df['year'] = [i.strftime("%Y") for i in df['item_creation_date']]

df.head(5)

,itemid,shopid,item_name,item_description,item_variation,price,stock,category,cb_option,is_preferred,sold_count,item_creation_date,year
0,1925574,210000,Golden mobile numbers,Unregistered prepaid cards1) 93355333 selling...,{},400.0,1,Mobile & Gadgets,0,0,0,2015-10-01 00:24:42,2015
1,1925617,210000,Golden mobile numbers,Unregistered prepaid cards1) 93355888 selling...,{},400.0,1,Mobile & Gadgets,0,0,0,2015-10-01 00:26:37,2015
2,943600,210000,Golden Mobile Numbers,Unregistered prepaid cards. Can port to post p...,{},8.0,1,Mobile & Gadgets,0,0,0,2015-08-25 21:02:13,2015
3,1064405,210000,Golden Mobile Numbers,Unregistered prepaid cards. Can port to post p...,{},8.0,1,Mobile & Gadgets,0,0,0,2015-08-30 20:16:07,2015
4,20046620,760000,101% AUTHENTIC BASEBALL CAPS,"PREORDER Takes about 23 weeks to arrive, will ...","{NEWERA BLACK: 35.0, NIKE SWOOSH DENIM: 35.0, ...",35.0,300,Women's Apparel,0,0,0,2016-05-09 01:14:34,2016

In [11]:
len(df[(df.year=='2018')]['itemid'].unique())

177407

5. Show Top 3 Preferred shops’ shopid that have the largest number of unique products

In [12]:
# firstly, filter to preferred shops , ie. is_preferred == 1
# secondly, groupby category, and apply nunique/count functions
# thirdly, sort value in descending order
# finally, get the top 3 values using index
df[df['is_preferred']=='1'].groupby(['shopid'])['itemid'].count().sort_values(ascending = False)[0:3]

shopid
43384791    2034
6072241     1998
26974701    1037
Name: itemid, dtype: int64

6. Show Top 3 Categories that have the largest number of unique cross-border products

In [13]:
# firstly, filter to cross-border products , ie. cb_option == 1
# secondly, groupby category, and apply nunique/count functions
# thirdly, sort value in descending order
# finally, get the top 3 values using index
df[df['cb_option']=='1'].groupby(['category'])['itemid'].count().sort_values(ascending = False)[0:3]

category
Women's Apparel     80494
Mobile & Gadgets    58760
Men's Wear          51795
Name: itemid, dtype: int64

7. Find Top 3 shopid with the highest revenue (Assumption: the product price has not been changed.)

In [14]:
df['revenue'] = df['price']*df['sold_count']

df.tail(5)

,itemid,shopid,item_name,item_description,item_variation,price,stock,category,cb_option,is_preferred,sold_count,item_creation_date,year,revenue
464428,517929442,13744999,Women Back Brest Dress Package Hips Dress,Type: Dress Gender: Womens Size Type: Regular ...,"{White S: 8.3, Black XL: 8.3, White XL: 8.3, B...",8.3,0,Women's Apparel,1,0,0,2017-09-24 18:42:46,2017,0.0
464429,490461243,13744999,Heart Alloy Pendant Necklace for women,Gender: For Women Item Type: Pendant Necklaces...,{},0.6,0,Jewellery & Accessories,1,0,0,2017-09-15 21:10:15,2017,0.0
464430,494272761,13744999,Heart Alloy Pendant Necklace for women,Gender: For Women Item Type: Pendant Necklaces...,{},3.0,0,Jewellery & Accessories,1,0,0,2017-09-17 09:07:06,2017,0.0
464431,259494170,13744999,Women Mid Elastic Waist Straight Shorts,"Style: Active Length: Mini Material: Nylon,Pol...","{Purple: 2.0, Rose: 2.0, Sapphire blue: 3.0, B...",2.0,0,Women's Apparel,1,0,1,2017-05-14 11:46:53,2017,2.0
464432,314558812,13744999,Women Mid Elastic Waist Straight Shorts,"Style: Active Length: Mini Material: Nylon,Pol...","{Purple: 4.0, Rose: 4.0, Sapphire blue: 4.0, B...",4.0,0,Women's Apparel,1,0,0,2017-06-20 21:48:26,2017,0.0

In [15]:
df.groupby(['shopid'])['revenue'].sum().sort_values(ascending = False)[0:3]

shopid
18796234    177897.79
30769353     63491.39
30628794     39852.00
Name: revenue, dtype: float64

8. Find number of products that have more than 3 variations (do not include products with 3 or fewer variations)

In [16]:
df['variation_count']= [i.count(':') for i in df['item_variation']]

df[['item_variation','variation_count']].head(10)

                                      item_variation  variation_count
0                                                 {}                0
1                                                 {}                0
2                                                 {}                0
3                                                 {}                0
4  {NEWERA BLACK: 35.0, NIKE SWOOSH DENIM: 35.0, ...                6
5  {NIKE SWOOSH DENIM: 35.0, NIKE SWOOSH BLACK: 3...                6
6  {Hydratg UV: 28.72, Super Hydg: 28.72, Whiteni...                3
7                                                 {}                0
8              {S: 9.98, M: 9.98, L: 9.98, XL: 9.98}                4
9                        {S: 9.98, M: 9.98, L: 9.98}                3

In [17]:
df[df['variation_count']>3]['itemid'].count()

242150

9. Identify duplicated listings within each shop (If listing A and B in shop S have the exactly same product title, product detailed description, and price, both listing A and B are considered as duplicated listings)

In [18]:
# we concatenate the product title, product detailed description and price into a new column called "listing details"
df['listing_details']= df['item_name'].astype(str) + df['item_description'].astype(str) + df['price'].astype(str)

df.head(5)

,itemid,shopid,item_name,item_description,item_variation,price,stock,category,cb_option,is_preferred,sold_count,item_creation_date,year,revenue,variation_count,listing_details
0,1925574,210000,Golden mobile numbers,Unregistered prepaid cards1) 93355333 selling...,{},400.0,1,Mobile & Gadgets,0,0,0,2015-10-01 00:24:42,2015,0.0,0,Golden mobile numbersUnregistered prepaid card...
1,1925617,210000,Golden mobile numbers,Unregistered prepaid cards1) 93355888 selling...,{},400.0,1,Mobile & Gadgets,0,0,0,2015-10-01 00:26:37,2015,0.0,0,Golden mobile numbersUnregistered prepaid card...
2,943600,210000,Golden Mobile Numbers,Unregistered prepaid cards. Can port to post p...,{},8.0,1,Mobile & Gadgets,0,0,0,2015-08-25 21:02:13,2015,0.0,0,Golden Mobile NumbersUnregistered prepaid card...
3,1064405,210000,Golden Mobile Numbers,Unregistered prepaid cards. Can port to post p...,{},8.0,1,Mobile & Gadgets,0,0,0,2015-08-30 20:16:07,2015,0.0,0,Golden Mobile NumbersUnregistered prepaid card...
4,20046620,760000,101% AUTHENTIC BASEBALL CAPS,"PREORDER Takes about 23 weeks to arrive, will ...","{NEWERA BLACK: 35.0, NIKE SWOOSH DENIM: 35.0, ...",35.0,300,Women's Apparel,0,0,0,2016-05-09 01:14:34,2016,0.0,6,101% AUTHENTIC BASEBALL CAPSPREORDER Takes abo...

In [19]:
shopid_listing_count = df.groupby(['listing_details'])['shopid'].count().reset_index()

In [20]:
shopid_listing_count.head(5)

                                     listing_details  shopid
0    \t Bandage Bodycon Skirt No meet up Size XS25.0       2
1               Fashion Women Shoulder Bag Satche...       1
2               Fashion Women Shoulder Bag Satche...       1
3               Fashion Women Shoulder Bag Satche...       1
4          BOTTOM HIGH WAIST CLASSICColor: BLACK ...       1

In [21]:
duplicated_listing = shopid_listing_count[shopid_listing_count.shopid>1]

In [22]:
duplicated_listing.head(5)

                                      listing_details  shopid
0     \t Bandage Bodycon Skirt No meet up Size XS25.0       2
12       New Women Handbag ShoulderFeature:    100...       2
13     Fashion Handbag Lady Shoulder Bag Tote Purs...       2
14     LVPAI  Vente chaude De Mode De Luxe  Femmes...       2
16     Mens canvas Sport  Sneakers Recreational Ca...       3

In [23]:
duplicated_listing.columns = ['listing_details','shopid_count']

10. Mark those duplicated listings with True otherwise False and store the marking result in a new column named “is_duplicated”

In [24]:
df_new = pd.merge(df,duplicated_listing, on = 'listing_details', how = 'left')

df_new.head(5)

,itemid,shopid,item_name,item_description,item_variation,price,stock,category,cb_option,is_preferred,sold_count,item_creation_date,year,revenue,variation_count,listing_details,shopid_count
0,1925574,210000,Golden mobile numbers,Unregistered prepaid cards1) 93355333 selling...,{},400.0,1,Mobile & Gadgets,0,0,0,2015-10-01 00:24:42,2015,0.0,0,Golden mobile numbersUnregistered prepaid card...,NaN
1,1925617,210000,Golden mobile numbers,Unregistered prepaid cards1) 93355888 selling...,{},400.0,1,Mobile & Gadgets,0,0,0,2015-10-01 00:26:37,2015,0.0,0,Golden mobile numbersUnregistered prepaid card...,NaN
2,943600,210000,Golden Mobile Numbers,Unregistered prepaid cards. Can port to post p...,{},8.0,1,Mobile & Gadgets,0,0,0,2015-08-25 21:02:13,2015,0.0,0,Golden Mobile NumbersUnregistered prepaid card...,NaN
3,1064405,210000,Golden Mobile Numbers,Unregistered prepaid cards. Can port to post p...,{},8.0,1,Mobile & Gadgets,0,0,0,2015-08-30 20:16:07,2015,0.0,0,Golden Mobile NumbersUnregistered prepaid card...,NaN
4,20046620,760000,101% AUTHENTIC BASEBALL CAPS,"PREORDER Takes about 23 weeks to arrive, will ...","{NEWERA BLACK: 35.0, NIKE SWOOSH DENIM: 35.0, ...",35.0,300,Women's Apparel,0,0,0,2016-05-09 01:14:34,2016,0.0,6,101% AUTHENTIC BASEBALL CAPSPREORDER Takes abo...,NaN

In [25]:
df_new['is_duplicated'] = [True if not pd.isnull(i) else False for i in df_new['shopid_count']]

In [26]:
df_new.head(5)

,itemid,shopid,item_name,item_description,item_variation,price,stock,category,cb_option,is_preferred,sold_count,item_creation_date,year,revenue,variation_count,listing_details,shopid_count,is_duplicated
0,1925574,210000,Golden mobile numbers,Unregistered prepaid cards1) 93355333 selling...,{},400.0,1,Mobile & Gadgets,0,0,0,2015-10-01 00:24:42,2015,0.0,0,Golden mobile numbersUnregistered prepaid card...,NaN,False
1,1925617,210000,Golden mobile numbers,Unregistered prepaid cards1) 93355888 selling...,{},400.0,1,Mobile & Gadgets,0,0,0,2015-10-01 00:26:37,2015,0.0,0,Golden mobile numbersUnregistered prepaid card...,NaN,False
2,943600,210000,Golden Mobile Numbers,Unregistered prepaid cards. Can port to post p...,{},8.0,1,Mobile & Gadgets,0,0,0,2015-08-25 21:02:13,2015,0.0,0,Golden Mobile NumbersUnregistered prepaid card...,NaN,False
3,1064405,210000,Golden Mobile Numbers,Unregistered prepaid cards. Can port to post p...,{},8.0,1,Mobile & Gadgets,0,0,0,2015-08-30 20:16:07,2015,0.0,0,Golden Mobile NumbersUnregistered prepaid card...,NaN,False
4,20046620,760000,101% AUTHENTIC BASEBALL CAPS,"PREORDER Takes about 23 weeks to arrive, will ...","{NEWERA BLACK: 35.0, NIKE SWOOSH DENIM: 35.0, ...",35.0,300,Women's Apparel,0,0,0,2016-05-09 01:14:34,2016,0.0,6,101% AUTHENTIC BASEBALL CAPSPREORDER Takes abo...,NaN,False

11. Find duplicate listings that has less than 2 sold count and store the result in a new excel file named “duplicated_listings.xlsx”

In [27]:
duplicated_listing = df_new[(df_new['is_duplicated']) & (df_new['sold_count']<2)]

In [28]:
#duplicated_listing.to_excel('../data/duplicated_listing.xlsx', index = False)

12. Find the preferred shop shopid that have the most number of duplicated listings

In [29]:
df_new[df_new['is_preferred']=='1'].groupby(['shopid'])['is_duplicated'].count().sort_values(ascending = False)

shopid
43384791    2034
6072241     1998
26974701    1037
4498082      887
37983742     677
            ...
2628503        2
26213989       2
25547805       2
4523728        2
10021          2
Name: is_duplicated, Length: 533, dtype: int64